venv
.idea
out
references
data
tf-logs
img
weights

models/**/images
**/__pycache__

*.aux
*.bbl
*.blg
*.log
*.out
thesis.pdf
*.toc
*.lof
*.synctex.gz
*.synctex(busy)

*.blend
*.xcf

presentation/node_modules
presentation/dist
